button {
  background-color: rgb(224, 224, 224);
  color: black;
  font-size: 1rem;
  border: 1px solid beige;
  padding: 1rem;
  cursor: pointer;
}

.button:hover {
  background-color: #777;
}

.button:active {
  background-color: #444;
}

.zero {
  grid-column: span 2;
}

.operator {
  background-color: #f5913e;
}
